<h1>Livros Disponiveis</h1>
<div class="books-container">
{{#each books}}
    <div>
        #{{this.id}} - <span class="bold">{{this.title}}</span> - {{this.pagesqty}} páginas.
    </div>
{{/each}}
</div>