<h1>Cadastre o seu livro</h1>
<form action="/books/insertbook" method="POST" class="form">
    <div class="form-control">
        <label for="title">Titulo:</label>
        <input type="text" name="title" placeholder="Digite o titulo"></input>
    </div>

    <div class="form-control">
        <label for="pagesqty">Quantidade de paginas:</label>
        <input type="number" name="pagesqty" placeholder="Digite a quantidade de pagina"></input>
    </div>

    <input type="submit" value="Cadastrar"></input>

</form>